<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.anyview.preferences.AnyViewPreferencePage"
            id="com.github.anyview.preferences.AnyViewPreferencePage"
            name="AnyView Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.anyview.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
